# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# Pipenv
Pipfile.lock

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sqlite3

# Miscellaneous
.DS_Store