body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
}

header {
    text-align: center;
    padding: 20px 0;
}

input-section, .result-section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result-section {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

#resultOutput {
    white-space: pre-wrap; /* Keeps the formatting of the results. */
}
